@import "tailwindcss";

:root {
  --background: #252525;
  --foreground: #f8fafc;
  --accent: #2442ed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}

* {
  box-sizing: border-box;
}

::selection {
  background: rgba(36, 66, 237, 0.45);
}
